#wrapper{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
#leftCollums{
    width: 300px;
    height: auto;
    display: inline-block;
    vertical-align: top;
}
#cards{
    width: 500px;
    height: auto;
    display: inline-block;
    /* vertical-align: top; */
}
.textbox{
    width:250px;
    height:100px;
}
.forms{
    margin: 5px 0 0 0;
    text-align: right;
}
.formss{
    margin: 15px 0 0 0;
    text-align: left;
}
table{
    border: 1px solid black;
    text-align: center;
    width: 300px;
    height:150px;
    margin: 10px auto;
}
